<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lotbook.lotbook.repository.CategoryMapper">
    <select id="selectCategoryBySequence" parameterType="int" resultType="lotbook.lotbook.dto.entity.Category">
        SELECT * FROM category WHERE sequence=#{sequence}
    </select>

    <select id="selectSubcategorySequences" parameterType="int" resultType="int">
        SELECT sequence
        FROM category
        WHERE parent_category = #{sequence}
    </select>

    <select id="getBigCategory" resultType="lotbook.lotbook.dto.mapper.CategoryProductWithReviewDTO">
        SELECT p.*, COUNT(r.product_sequence) as review_count,
               COALESCE(AVG(r.rating), 0) as rating_avg
        FROM product p
                 LEFT JOIN review r ON p.sequence = r.product_sequence
                 JOIN category c ON p.category_sequence = c.sequence
        WHERE c.parent_category = #{view}
        GROUP BY p.sequence;
    </select>

    <select id="getSmallCategory" resultType="lotbook.lotbook.dto.mapper.CategoryProductWithReviewDTO">
        SELECT p.*, COUNT(r.product_sequence) as review_count,
               COALESCE(AVG(r.rating), 0) as rating_avg
        FROM product p
                 LEFT JOIN review r ON p.sequence = r.product_sequence
                 JOIN category c ON p.category_sequence = c.sequence
        WHERE p.category_sequence = #{view}
        GROUP BY p.sequence;
    </select>


</mapper>