<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lotbook.lotbook.repository.CategoryMapper">
    <select id="selectCategoryBySequence" parameterType="int" resultType="lotbook.lotbook.dto.entity.Category">
        SELECT * FROM category WHERE sequence=#{sequence}
    </select>

    <select id="selectSubcategorySequences" parameterType="int" resultType="int">
        SELECT sequence
        FROM category
        WHERE parent_category = #{sequence}
    </select>

</mapper>