<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lotbook.lotbook.repository.MemberMapper">


	<select id="select" parameterType="member" resultType="lotbook.lotbook.dto.entity.Member">
		SELECT * FROM member WHERE email=#{email}
	</select>

	<select id="selectMemberBySequence" parameterType="int" resultType="lotbook.lotbook.dto.entity.Member">
		SELECT * FROM member WHERE sequence=#{sequence}
	</select>

	<select id="emailCheck" parameterType="String" resultType="lotbook.lotbook.dto.entity.Member">
		SELECT email FROM member WHERE email = #{emailToCheck}
	</select>

	<update id="updateInfo" parameterType="lotbook.lotbook.dto.entity.Member">
		UPDATE member SET hashed_pwd=#{hashedPwd}, name=#{name}, member_phone=#{memberPhone}, zipcode=#{zipcode}, street_address=#{streetAddress}, address_detail=#{addressDetail} WHERE sequence=#{sequence}
	</update>

</mapper>

