<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lotbook.lotbook.repository.ProductMapper">

    <select id="selectProductBySequence" parameterType="long" resultType="lotbook.lotbook.dto.entity.Product">
        SELECT * FROM product WHERE sequence=#{sequence}
    </select>

    <select id="selectProduct" parameterType="long" resultMap="lotbook.lotbook.dto.entity.Product">
        SELECT sequence, product_imgurl, product_detail_imgurl, name, price, content, stock, created_at, updated_at, point_accumulation_rate, discount_rate, sales_count,  author_sequence, publisher_sequence, category_sequence
        FROM product
        WHERE sequence = #{sequence}
        <!-- TODO: state복구 state 임시 제거 된 상태 -->
    </select>
</mapper>